@{
    ViewBag.Title = "Reviews";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>All reviews found on the site are purely user based and no curation team has been involved..</p>

Change 2

Change test 3

Change test 4 by suraj

change by mahdi