@{
    ViewBag.Title = "Contact Coding Experts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    De Monfort University<br />
    The Gateway, LE1 9BH<br />
    Leicester <br />
    <abbr title="Phone">Phone: 07000000000</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>