<!--add the shared layout for the menu-->
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/CSS/Home.css" />
    <meta charset="utf-8" />
    <title>GAME.Reviews | No.1 Platform for game reviews</title>
</head>
<body>
    <div class="Contents">
        <section>
            <div class="Header">
                <h1>Welcome to GAME.Reviews</h1>
            </div>
            <div class="Message">
                <p>
                    Everyones got an opinion. Share Yours NOW on the No.1 platform for game reviews.
                </p>
            </div>
            <div class="flexOrder">
                <div class="firstColumn">
                    <p>Puzzle Games</p>
                    <p>Trivia</p>
                    <p>Combat Games</p>
                    <p>Kids Games</p>
                </div>
                <div class="secondColumn">
                    <p>Role Playing Games</p>
                    <div class="TextLogo"></div>
                    <p>Board Games</p>
                </div>
                <div class="thirdColumn">
                    <p>Racing Games</p>
                    <p>18+ Games</p>
                    <p>Platform Games</p>
                    <p>Card Games</p>
                </div>
            </div>
        </section>
        <footer>
        
        </footer>
    </div>
</body>
</html>